# Same people, several machines and several git configs across the 42 clusters.
Abraham Sinsard <abrahamsinsard@gmail.com>
Olivier Elleaume <162384047+LeMuffinMan@users.noreply.github.com> <oelleaum@student.42lyon.fr>
Olivier Elleaume <162384047+LeMuffinMan@users.noreply.github.com> <muffin@arch.man>
Olivier Elleaume <162384047+LeMuffinMan@users.noreply.github.com> <162384047+dArchMuffin@users.noreply.github.com>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r2p3.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r2p5.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r2p6.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r2p7.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r2p8.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r3p3.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r3p7.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r3p8.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z2r11p6.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z4r2p5.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z4r2p6.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z4r3p4.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <asinsard@z4r4p2.42lyon.fr>
Abraham Sinsard <abrahamsinsard@gmail.com> <braams@braams.lan>
